.navigation
  justify-content: center
  gap: 50px
  position: relative
  margin-bottom: 30px
  display: flex
.category
  position: relative
  &:hover .subCategories
    display: flex
.subCategories
  display: none
  position: absolute
  background-color: #f1f1f1
  z-index: 1
  flex-direction: column
.subCategory
  padding: 5px
